.market {
  background: #e5e5e5;
  padding-top: 30px;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 280px auto;

    .menu {
      background: #ffffff;
      box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
      border-radius: 8px;
      padding: 20px;
      // width: 280px;
      margin-right: 20px;
      height: fit-content;

      .marketplace {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .title {
          font-weight: 500;
          font-size: 20px;
          line-height: 150%;
          color: #181818;
        }

        .back {
          cursor: pointer;
        }
      }

      .input {
        border: 1px solid #e7e7e7;
        box-sizing: border-box;
        border-radius: 6px;
        height: 36px;
        width: 100%;
        color: #cbcbcb;
      }

      .all {
        background: #f5f5f5;
        border-radius: 6px;
        padding: 10px;
        display: flex;
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;

        .content {
          margin-left: 30px;
          font-weight: normal;
          font-size: 13px;
          line-height: 150%;
          color: #181818;
        }
      }

      .notification {
        background: #f5f5f5;
        border-radius: 6px;
        padding: 10px;
        display: flex;
        margin-bottom: 10px;

        .content {
          margin-left: 10px;
          font-weight: normal;
          font-size: 13px;
          line-height: 150%;
          color: #181818;
        }
      }

      .button {
        background: #008bd9;
        border-radius: 6px;
        height: 40px;
        width: 100%;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        text-align: center;
        color: #ffffff;
      }

      .hr {
        background-color: #e7e7e7;
        height: 1px;
        margin-top: 20px;
      }

      .filter {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .categories {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        margin-top: 20px;
      }

      .category {
        display: flex;
        margin-top: 10px;
        background: #f5f5f5;
        border-radius: 6px;
        padding: 10px;

        .content {
          font-weight: normal;
          font-size: 13px;
          line-height: 150%;
          color: #181818;
          margin-left: 10px;
        }
      }
    }

    .content {
      .block {
        background: #ffffff;
        box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
        border-radius: 8px;
        padding: 30px 20px;
        margin-bottom: 30px;

        .header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          .title {
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: #181818;
          }
        }
      }
    }
  }
}
